[submodule "external/libremidi"]
	path = external/libremidi
	url = https://github.com/celtera/libremidi.git
[submodule "external/vst3_public_sdk"]
	path = external/vst3_public_sdk
	url = https://github.com/steinbergmedia/vst3_public_sdk.git
[submodule "external/vst3_cmake"]
	path = external/vst3_cmake
	url = https://github.com/steinbergmedia/vst3_cmake.git
[submodule "external/choc"]
	path = external/choc/choc
	url = https://github.com/Tracktion/choc.git
[submodule "external/choc/choc"]
	path = external/choc/choc
	url = https://github.com/Tracktion/choc.git
[submodule "external/rtlog-cpp"]
	path = external/rtlog-cpp
	url = https://github.com/cjappl/rtlog-cpp
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/lv2kit"]
	path = external/lv2kit
	url = https://github.com/lv2/lv2kit.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
