name: build dist

on:
  push:
  pull_request:

jobs:
  build:
    name: 'build on ${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15, windows-latest]
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: apt update and install
      if: matrix.os == 'ubuntu-24.04'
      run: |
        sudo apt-get update
        # There is no libsdl3-dev on 24.04...
        sudo apt install gcc-14 ninja-build libgtk-3-dev libwebkit2gtk-4.1-dev libadwaita-1-dev libsdl2-dev
    - name: Setup Node.js on Windows
      if: matrix.os == 'windows-latest'
      uses: actions/setup-node@v4
      with:
        node-version: '20'  # Use a current stable version
    - name: Cleanup plugin install cache
      if: matrix.os != 'windows-latest' # Windows does not support sudo
      run: rm -rf /home/runner/.local/share/open-audio-stack
    - name: Install audio plugins
      uses: atsushieno/setup-audio-plugins-action@main
      if: matrix.os != 'windows-latest' # Windows does not support sudo
      with:
        cache: true
        plugins: |
          sfztools/sfizz
          baconpaul/six-sines
    - name: brew install
      if: ${{ startsWith(matrix.os, 'macos') }}
      run: |
        brew install ninja sdl3

    - name: Install Qt6 (Ubuntu)
      if: matrix.os == 'ubuntu-24.04'
      run: |
        sudo apt-get update
        sudo apt-get install -y qtbase5-dev qtbase5-dev-tools qt6-base-dev qt6-base-dev-tools

    - name: Install Qt5 (macOS) - Qt6 fails
      if: matrix.os == 'macos-15'
      run: |
        brew install qt@5
        echo "/opt/homebrew/opt/qt@5/bin" >> $GITHUB_PATH
        echo "CMAKE_PREFIX_PATH=/opt/homebrew/opt/qt@5" >> $GITHUB_ENV

    - name: Install Qt5 (Windows) - Qt6 fails
      if: matrix.os == 'windows-latest'
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        arch: ${{ matrix.qt_arch }}

    - name: setup build on Windows
      if: matrix.os == 'windows-latest'
      run: |
        cmake -B build -G "Visual Studio 17 2022" -DBUILD_SHARED_LIBS=OFF -DREMIDY_BUILD_CONFIG=Debug
    - name: setup build on Darwin
      if: matrix.os == 'macos-15'
      run: |
        cmake -B build -G Ninja
    - name: setup build on Linux
      if: matrix.os == 'ubuntu-24.04'
      run: |
        cmake -B build -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++

    - name: build
      run: cmake --build build

    - name: test
      if: matrix.os != 'windows-latest'
      run: ctest --test-dir build --output-on-failure

    - name: upload build failure logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: build-${{ matrix.os }}
        path: |
          build
